body{
    background-color: rgb(231, 172, 54);
}

h1{
    color: rgb(255, 175, 188);
}

.nastyH{
    color: rgb(252, 240, 77);
    font-size: 40px;
}

p{
    color: blue;
}

.absurd{
    color: red;
}